.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-logo {
  width: 1.78253119em;
}

.cover {
  background-position: center;
  background-size: cover;
}

body,
div,
a,
header,
footer,
section,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

var {
  font-style: normal;
  font-weight: normal;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

input {
  font: inherit inherit inherit;
}

footer,
header,
menu,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

svg {
  max-height: 100%;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font: 1.6rem/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  color: #6b7985;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  text-align: center;
  line-height: 1.25;
}

h1 {
  font: 51px/1 'Merriweather', serif;
  margin-bottom: 0.8rem;
}

h3 {
  font: 22px 'Lato', sans-serif;
  color: #959595;
  margin-bottom: 6.4rem;
}

.s_content {
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: -40px;
}

.s_content .item {
  margin-bottom: 40px;
}

.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  justify-content: center;
}

.row .item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 600px;
  text-align: center;
}

header,
footer {
  padding: 8rem 0;
}

.page_header {
  height: 965px;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
}

.page_header:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
}

.page_header.blured:before {
  opacity: 1;
}

.page_header h1 {
  color: inherit;
  margin-top: auto;
  text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, 1px 1px 2px #000, -1px 1px 2px #000;
}

.page_header h3 {
  color: inherit;
  margin-bottom: auto;
  text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, 1px 1px 2px #000, -1px 1px 2px #000;
}

.headline {
  font: 15px 'Lato', sans-serif;
  width: 100%;
  position: relative;
}

.headline .s_content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.menu {
  margin: 0 auto;
  position: relative;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.menu_toggle {
  background: #25874c;
  display: none;
  width: 40px;
  height: 40px;
  margin: 25px auto 0;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.menu_toggle:hover {
  background: #fff;
}

.menu_toggle:hover .menu_icon {
  background: #25874c;
}

.menu_toggle:hover .menu_icon:before,
.menu_toggle:hover .menu_icon:after {
  background: #25874c;
}

.menu_icon {
  background: #fff;
  width: 38px;
  height: 3px;
  border-radius: 1.5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: width 0.5s, -webkit-transform 0.5s;
  transition: width 0.5s, -webkit-transform 0.5s;
  transition: width 0.5s, transform 0.5s;
  transition: width 0.5s, transform 0.5s, -webkit-transform 0.5s;
  position: relative;
}

.menu_icon:before,
.menu_icon:after {
  background: #fff;
  content: '';
  position: absolute;
  top: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
  border-radius: 1.5px;
  -webkit-transition: width 0.5s, top 0.5s, -webkit-transform 0.5s;
  transition: width 0.5s, top 0.5s, -webkit-transform 0.5s;
  transition: width 0.5s, transform 0.5s, top 0.5s;
  transition: width 0.5s, transform 0.5s, top 0.5s, -webkit-transform 0.5s;
}

.menu_icon.hamb {
  width: 30px;
  -webkit-transform: none;
  transform: none;
}

.menu_icon.hamb:before {
  top: -10px;
  -webkit-transform: none;
  transform: none;
}

.menu_icon.hamb:after {
  top: 10px;
  -webkit-transform: none;
  transform: none;
}

.menu_list {
  width: 100%;
  text-align: center;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.menu_link {
  margin: 0 3rem;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, 1px 1px 2px #000, -1px 1px 2px #000;
}

.menu_link:hover,
.menu_link:focus {
  color: #25874c;
}

.logo {
  margin-right: auto;
  outline: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.logo:focus {
  color: #25874c;
}

.logo .icon {
  font-size: 100px;
  -webkit-filter: url(#contour);
  filter: url(#contour);
}

@media screen and (max-width: 1039px) {
  h1 {
    font-size: 44px;
  }

  h3 {
    font-size: 19px;
    margin-bottom: 4.5rem;
  }

  .s_content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }

  .row .item {
    margin-left: 7.5px;
    margin-right: 7.5px;
  }

  header,
  footer {
    padding: 6rem 0;
  }

  .page_header {
    height: 449px;
  }

  .headline {
    font-size: 14px;
  }

  .menu_link {
    margin: 0 1.2rem;
  }

  .logo .icon {
    font-size: 70px;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  h1 {
    font-size: 35px;
    margin-bottom: 3.3rem;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 3rem;
  }

  header,
  footer {
    padding: 5.5rem 0;
  }

  .page_header {
    height: 645px;
  }

  .page_header:before {
    background: none;
    display: none;
  }

  .headline .s_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .menu {
    width: 100%;
  }

  .menu_toggle {
    display: -webkit-box;
    display: flex;
  }

  .menu_list {
    display: none;
    background-color: #25874c;
    padding: 10px 0;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  .menu_link {
    display: block;
    margin: 0;
    padding: 5px 20px;
    font-size: 17px;
    color: #fff;
    text-shadow: none;
  }

  .menu_link:hover,
  .menu_link:focus {
    background-color: #fff;
    color: #25874c;
  }

  .logo {
    margin-right: 0;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 30px;
  }

  header,
  footer {
    padding: 4.5rem 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .logo .icon {
    -webkit-filter: none;
    filter: none;
  }

  .logo .icon use {
    -webkit-filter: url(#contour);
    filter: url(#contour);
  }
}